<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>区域房价</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/house.css">
    <% include include/cssjs %>
</head>
<body>
<% include include/header %>
<!--导航-->
<!--<div class="float_nav">-->
<!--<ul class="list">-->
<!--<li class="active">房价指数</li>-->
<!--<li>房价地图</li>-->
<!--<li>房价走势</li>-->
<!--<li>涨幅榜</li>-->
<!--<li>热门小区</li>-->
<!--</ul>-->
<!--</div>-->
<!--小区信息-->
<div class="top">
    <div class="content">
        <div class="typebox">
            <li class="active">区域房价</li>
            <!--<li>地铁房价</li>-->
            <!--<li>小区房价</li>-->
            <!--<li>PK房价</li>-->
        </div>
        <div class="codebox clearfix">
            <div class="title">
                <img src="../images/icon_phone.png" alt="" class="phone"><span>下载象盒找房APP</span>
            </div>
            <div class="codecon">
                <img src="../images/img_bcode.png" alt="">
                <p class="txt1 ">象盒找房APP</p>
                <p class="txt2">找房·真·简单</p>
            </div>
        </div>
        <!--搜索框-->
        <div class="seabox">
            <div class="seacon">
                <input class="keywords" type="text" value="" autocomplete="off" placeholder="请输入区域或商圈名查询房价">
                <div class="btn-search">
                    <img src="../images/icon_search.png" alt="">
                </div>
            </div>
            <div class="seaarea dn">

                <div class="regionwrap clearfix">
                    <a href="" class="allcity">全市</a>
                    <div class="arealist">
                        <a href="">芙蓉区</a>
                        <a href="">开福区</a>
                    </div>
                </div>
                <div class="houseestate">
                    <div class="dn">
                        <a href="" class="all">查看全部<span class="area">芙蓉区</span></a>
                        <div class="list clearfix">
                            <a href="">芙蓉区1</a>
                            <a href="">芙蓉区2</a>
                            <a href="">芙蓉区3</a>
                        </div>
                    </div>
                </div>
                <div class="houseestate">
                    <div class="dn">
                        <a href="" class="all">查看全部<span class="area">开福区</span></a>
                        <div class="list clearfix">
                            <a href="">开福区1</a>
                            <a href="">开福区2</a>
                            <a href="">开福区3</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--模糊匹配-->
            <div class="seamh" style="display:none;">
                <ul class="list">
                    <li><span class="txt"><i class="cur">南山</i></span> <span class="area">区域</span></li>
                    <li><span class="txt"><i class="cur">南山</i>中心圈</span> <span class="area">商圈</span></li>
                </ul>
            </div>
        </div>
        <!--内容-->
        <div class="showbox linkbox">
            <div class="leftbox">
                <div class="citybox"><img src="../images/icon_location.png" alt="" class="bounce"><span
                            class="city">长沙</span></div>
                <div class="detailbox">
                    <p class="info"><span class="month">11月</span><span class="area">雨花区</span>象盒参考均价</p>
                    <div class="pricebox">
                        <div class="mj"><span class="num timer count-title" id="count-number" data-to="30000"
                                              data-speed="1000">20000</span>元/平米
                        </div>
                        <div class="sj">环比上月<span class="red">1.2% ↑</span></div>
                    </div>

                    <p class="data">已有75622人查询区域房价</p>
                </div>
            </div>
            <div class="rightbox">
                <ul>
                    <li>
                        <p class="title">在售房源</p>
                        <p class="txt"><span class="num blue">100</span><span class="dw">套</span></p>
                    </li>
                    <li>
                        <p class="title">今日带看量</p>
                        <p class="txt"><span class="num">400</span><span class="dw">次</span></p>
                    </li>
                    <li>
                        <p class="title">扫码房屋估价</p>
                        <p><img src="../images/img_code.png" alt=""></p>
                    </li>
                    <li class="noborder">
                        <p class="title">今日新增房源</p>
                        <p class="txt"><span class="num blue">14</span><span class="dw">套</span></p>
                    </li>
                    <li class="noborder">
                        <p class="title">今日涨价房源</p>
                        <p class="txt"><span class="num red">20</span><span class="dw">套</span></p>
                    </li>
                    <li class="noborder">
                        <p class="title">今日降价房源</p>
                        <p class="txt"><span class="num green">20</span><span class="dw">套</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--房价地图-->
<div class="mapbox linkbox">
    <div class="title">长沙市芙蓉区房价地图</div>
    <div class="content">
        <img src="../images/img_map.jpg" alt="">
    </div>
</div>
<!--房价走势-->
<div class="zsbox linkbox">
    <div class="title">芙蓉区二手房价走势</div>
    <div class="content">
        <img src="../images/zs.jpg" alt="">
    </div>
</div>
<!--涨幅榜-->
<div class="zfbox linkbox">
    <div class="zfleft">
        <div class="title">近1个月芙蓉区房价涨幅榜</div>
        <div class="content">
            <div class="namelist">
                <div class="order">排行</div>
                <div class="name">小区</div>
                <div class="price">小区均价</div>
                <div class="zf">涨幅</div>
            </div>
            <ul class="list">
                <li>
                    <div class="order"><span class="redcolor">1</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
                <li>
                    <div class="order"><span class="redcolor">2</span></div>
                    <div class="name">鄱阳小区发大水发沙发沙发上阿范德萨发生</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
                <li>
                    <div class="order"><span class="redcolor">3</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
                <li>
                    <div class="order"><span>4</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
                <li>
                    <div class="order"><span>5</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="zfright">
        <div class="title">近1个月芙蓉区房价降幅榜</div>
        <div class="content">
            <div class="namelist">
                <div class="order">排行</div>
                <div class="name">小区</div>
                <div class="price">小区均价</div>
                <div class="zf">涨幅</div>
            </div>
            <ul class="list">
                <li>
                    <div class="order"><span class="greencolor">1</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↓</div>
                </li>
                <li>
                    <div class="order"><span class="greencolor">2</span></div>
                    <div class="name">鄱阳小区发大水发沙发沙发上阿范德萨发生</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↓</div>
                </li>
                <li>
                    <div class="order"><span class="greencolor">3</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↓</div>
                </li>
                <li>
                    <div class="order"><span>4</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↓</div>
                </li>
                <li>
                    <div class="order"><span>5</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↑</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--热门小区房价走势-->
<div class="hotzsbox linkbox">
    <div class="title">芙蓉区热门小区二手房走势</div>
    <div class="content">
        <div class="box clearfix">
            <p class="btitle">
                <span class="name">鄱阳小区</span>
                <span class="address"><img src="../images/icon_slocation.png" alt="">芙蓉区  五一大道</span>
            </p>
            <div class="hotleft">
                <p class="state">11月二手房均价 <span class="num">8794</span>元/㎡ ，环比上月上涨 <span class="num">0.94</span>%</p>
                <img src="../images/small_zs.jpg" alt="">
            </div>
            <div class="hotright">
                <a href="">
                    <span class="price">180万</span>
                    <div class="imgbox"><img src="../images/img.png" alt=""></div>
                    <p class="txt">奥拉夫科技阿凡达克拉发大水发是非得失数据发类似看法点击萨拉</p>
                    <p><span class="jg">3室2厅1卫</span> <span class="mj">138㎡</span></p>
                </a>
                <a href="">
                    <span class="price">180万</span>
                    <div class="imgbox"><img src="../images/img.png" alt=""></div>
                    <p class="txt">奥拉夫科技阿凡达克拉发大水发是非得失数据发类似看法点击萨拉</p>
                    <p><span class="jg">3室2厅1卫</span> <span class="mj">138㎡</span></p>
                </a>
                <a href="">
                    <span class="price">180万</span>
                    <div class="imgbox"><img src="../images/img.png" alt=""></div>
                    <p class="txt">奥拉夫科技阿凡达克拉发大水发是非得失数据发类似看法点击萨拉</p>
                    <p><span class="jg">3室2厅1卫</span> <span class="mj">138㎡</span></p>
                </a>
                <a href="">
                    <span class="price">180万</span>
                    <div class="imgbox"><img src="../images/img.png" alt=""></div>
                    <p class="txt">奥拉夫科技阿凡达克拉发大水发是非得失数据发类似看法点击萨拉</p>
                    <p><span class="jg">3室2厅1卫</span> <span class="mj">138㎡</span></p>
                </a>

            </div>
        </div>
        <a href="" class="more">查看更多资源</a>
    </div>
</div>
<script>require(['pc_zhishu']);</script>
</body>
</html>
