<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>PK房价</title>
    <link rel="stylesheet" href="../css/house.css">
</head>
<body>
<!--导航-->
<div class="nav">
    <ul class="list">
        <li class="active">房价指数</li>
        <li>房价走势</li>
        <li>涨幅榜</li>
        <li>热门小区</li>
    </ul>
</div>
<!--小区信息-->
<div class="top">
    <div class="content">
        <div class="typebox">
            <li>区域房价</li>
            <li>地铁房价</li>
            <li>小区房价</li>
            <li class="active">PK房价</li>
        </div>
        <div class="codebox clearfix">
            <p class="title"><img src="../image/icon_phone.png" alt="" class="phone"><span>下载象盒找房APP</span></p>
            <div class="codecon">
                <img src="../image/img_bcode.png" alt="">
                <p class="txt1 ">象盒找房APP</p>
                <p class="txt2">找房·真·简单</p>
            </div>
        </div>
        <!--搜索框-->
        <div class="seacontent clearfix">
            <div class="seabox pseabox plseabox">
                <div class="seacon">
                    <input class="keywords"  type="text" value="" autocomplete="off">
                    <label class="placeholder">请输入区域或商圈名查询房价</label>
                    <div class="btn-search" >
                        <img src="../image/icon_search.png" alt="">
                    </div>
                </div>
                <div class="seaarea dn">

                    <div class="regionwrap clearfix">
                        <a href="" class="allcity">全市</a>
                        <div class="arealist">
                            <a href="">芙蓉区</a>
                            <a href="">开福区</a>
                        </div>
                    </div>
                    <div class="houseestate">
                        <div class="dn">
                            <a href="" class="all">查看全部<span class="area">芙蓉区</span></a>
                            <div class="list clearfix">
                                <a href="">芙蓉区1</a>
                                <a href="">芙蓉区2</a>
                                <a href="">芙蓉区3</a>
                            </div>
                        </div>
                    </div>
                    <div class="houseestate">
                        <div class="dn">
                            <a href="" class="all">查看全部<span class="area">开福区</span></a>
                            <div class="list clearfix">
                                <a href="">开福区1</a>
                                <a href="">开福区2</a>
                                <a href="">开福区3</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="word">PK</div>
            <div class="seabox pseabox prseabox">
                <div class="seacon">
                    <input class="keywords"  type="text" value="" autocomplete="off">
                    <label class="placeholder">请输入区域或商圈名查询房价</label>
                    <div class="btn-search" >
                        <img src="../image/icon_search.png" alt="">
                    </div>
                </div>
                <div class="seaarea dn">

                    <div class="regionwrap clearfix">
                        <a href="" class="allcity">全市</a>
                        <div class="arealist">
                            <a href="">芙蓉区</a>
                            <a href="">开福区</a>
                        </div>
                    </div>
                    <div class="houseestate">
                        <div class="dn">
                            <a href="" class="all">查看全部<span class="area">芙蓉区</span></a>
                            <div class="list clearfix">
                                <a href="">芙蓉区1</a>
                                <a href="">芙蓉区2</a>
                                <a href="">芙蓉区3</a>
                            </div>
                        </div>
                    </div>
                    <div class="houseestate">
                        <div class="dn">
                            <a href="" class="all">查看全部<span class="area">开福区</span></a>
                            <div class="list clearfix">
                                <a href="">开福区1</a>
                                <a href="">开福区2</a>
                                <a href="">开福区3</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--内容-->
        <div class="showboxt linkbox">
            <div class="topbox">
                <p class="title">11月象盒参考均价</p>
                <div class="namebox">
                    <div class="name nameo">鑫天山城明珠</div>
                    <div class="vs">VS</div>
                    <div class="name namet">卓越蔚蓝城</div>
                </div>
                <p class="numtxt">已有75622人查询PK房价</p>
            </div>
            <div class="bottombox">
                <div class="box lfbox">
                  <div class="pricebox">
                      <div class="mj"><span class="num timer count-title" id="count-number" data-to="30000" data-speed="1000">30000</span>元/平米</div>
                      <div class="sj">环比上月<span class="green">1.2% ↓</span></div>
                  </div>
                  <ul class="showlist">
                      <li>
                          <div class="lname">在售房源</div>
                          <div class="numbox"><span class="num blue">100</span><span class="dw">套</span></div>
                      </li>
                      <li>
                          <div class="lname">最低挂牌房源</div>
                          <div class="numbox"><span class="num noblue">160</span><span class="dw">元/平米</span></div>
                      </li>
                      <li>
                          <div class="lname">在售房源</div>
                          <div class="numbox"><span class="num noblue">210</span><span class="dw">元/平米</span></div>
                      </li>
                      <li>
                          <div class="lname">今日新增房源</div>
                          <div class="numbox"><span class="num blue">10</span><span class="dw">套</span></div>
                      </li>
                      <li>
                          <div class="lname">今日涨价房源</div>
                          <div class="numbox"><span class="num red">16000</span><span class="dw">套</span></div>
                      </li>
                      <li>
                          <div class="lname">今日降价房源</div>
                          <div class="numbox"><span class="num green">21000</span><span class="dw">套</span></div>
                      </li>
                  </ul>
                </div>
                <div class="box rtbox">
                    <div class="pricebox">
                        <div class="mj"><span class="num timer count-title" id="count-number" data-to="30000" data-speed="1000">30000</span>元/平米</div>
                        <div class="sj">环比上月<span class="red">1.2% ↑</span></div>
                    </div>
                    <ul class="showlist">
                        <li>
                            <div class="lname">在售房源</div>
                            <div class="numbox"><span class="num blue">100</span><span class="dw">套</span></div>
                        </li>
                        <li>
                            <div class="lname">最低挂牌房源</div>
                            <div class="numbox"><span class="num noblue">160</span><span class="dw">元/平米</span></div>
                        </li>
                        <li>
                            <div class="lname">在售房源</div>
                            <div class="numbox"><span class="num noblue">210</span><span class="dw">元/平米</span></div>
                        </li>
                        <li>
                            <div class="lname">今日新增房源</div>
                            <div class="numbox"><span class="num blue">10</span><span class="dw">套</span></div>
                        </li>
                        <li>
                            <div class="lname">今日涨价房源</div>
                            <div class="numbox"><span class="num red">16000</span><span class="dw">套</span></div>
                        </li>
                        <li>
                            <div class="lname">今日降价房源</div>
                            <div class="numbox"><span class="num green">21000</span><span class="dw">套</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--房价走势-->
<div class="zsbox vszsbox linkbox">
    <div class="title">芙蓉区二手房价走势</div>
    <div class="content">
        <img src="../image/zs.jpg" alt="">
    </div>
</div>
<!--涨幅榜-->
<div class="zfbox linkbox">
    <div class="zfleft">
        <div class="title">近1个月芙蓉区房价涨幅榜</div>
        <div class="content">
            <div class="namelist">
                <div class="order">排行</div>
                <div class="name">小区</div>
                <div class="price">小区均价</div>
                <div class="zf">涨幅</div>
            </div>
            <ul class="list">
                <li>
                    <div class="order"><span class="redcolor">1</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
                <li>
                    <div class="order"><span class="redcolor">2</span></div>
                    <div class="name">鄱阳小区发大水发沙发沙发上阿范德萨发生</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
                <li>
                    <div class="order"><span class="redcolor">3</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
                <li>
                    <div class="order"><span>4</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
                <li>
                    <div class="order"><span>5</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="zf">8.2% ↑</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="zfright">
        <div class="title">近1个月芙蓉区房价降幅榜</div>
        <div class="content">
            <div class="namelist">
                <div class="order">排行</div>
                <div class="name">小区</div>
                <div class="price">小区均价</div>
                <div class="zf">涨幅</div>
            </div>
            <ul class="list">
                <li>
                    <div class="order"><span class="greencolor">1</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↓</div>
                </li>
                <li>
                    <div class="order"><span class="greencolor">2</span></div>
                    <div class="name">鄱阳小区发大水发沙发沙发上阿范德萨发生</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↓</div>
                </li>
                <li>
                    <div class="order"><span class="greencolor">3</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↓</div>
                </li>
                <li>
                    <div class="order"><span>4</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↓</div>
                </li>
                <li>
                    <div class="order"><span>5</span></div>
                    <div class="name">鄱阳小区</div>
                    <div class="price">8265元/㎡</div>
                    <div class="jf">8.2% ↑</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--热门小区房价走势-->
<div class="hotzsbox linkbox">
    <div class="title">芙蓉区热门小区二手房走势</div>
    <div class="content">
        <div class="box clearfix">
            <p class="btitle">
                <span class="name">鄱阳小区</span>
                <span class="address"><img src="../image/icon_slocation.png" alt="">芙蓉区  五一大道</span>
            </p>
            <div class="hotleft">
                <p class="state">11月二手房均价 <span class="num">8794</span>元/㎡ ，环比上月上涨 <span class="num">0.94</span>%</p>
                <img src="../image/small_zs.jpg" alt="">
            </div>
            <div class="hotright">
                <a href="">
                    <span class="price">180万</span>
                    <div class="imgbox"><img src="../image/img.png" alt=""></div>
                    <p class="txt">奥拉夫科技阿凡达克拉发大水发是非得失数据发类似看法点击萨拉</p>
                    <p><span class="jg">3室2厅1卫</span> <span class="mj">138㎡</span></p>
                </a>
                <a href="">
                    <span class="price">180万</span>
                    <div class="imgbox"><img src="../image/img.png" alt=""></div>
                    <p class="txt">奥拉夫科技阿凡达克拉发大水发是非得失数据发类似看法点击萨拉</p>
                    <p><span class="jg">3室2厅1卫</span> <span class="mj">138㎡</span></p>
                </a>
                <a href="">
                    <span class="price">180万</span>
                    <div class="imgbox"><img src="../image/img.png" alt=""></div>
                    <p class="txt">奥拉夫科技阿凡达克拉发大水发是非得失数据发类似看法点击萨拉</p>
                    <p><span class="jg">3室2厅1卫</span> <span class="mj">138㎡</span></p>
                </a>
                <a href="">
                    <span class="price">180万</span>
                    <div class="imgbox"><img src="../image/img.png" alt=""></div>
                    <p class="txt">奥拉夫科技阿凡达克拉发大水发是非得失数据发类似看法点击萨拉</p>
                    <p><span class="jg">3室2厅1卫</span> <span class="mj">138㎡</span></p>
                </a>

            </div>
        </div>
        <a href="" class="more">查看更多资源</a>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script type="text/javascript">
    var housePirce ={
        init:function () {
            housePirce.showCode();
            housePirce.searchOpt();
            housePirce.numberCount();
            housePirce.linkTo();
        },
        //显示象盒找房下载码
        showCode:function () {
            $(".codebox").hover(function () {
                // $(".codebox .codecon").css("opacity",1);
                $(".codebox .codecon").show();
            },function () {
                // $(".codebox .codecon").css("opacity",0);
                $(".codebox .codecon").hide();
            })
        },
        //搜索操作
        searchOpt:function () {
            $(".keywords").focus(function () {
                $(this).parents(".seabox").find(".seaarea").show();
            })
            $(".keywords").blur(function(){
                $(this).parents(".seabox").find(".seaarea").hide();
            });
            $(".keywords").keydown(function(){
                var num = $(this).val().length;
                if(num > 0){
                    $(this).parents(".seabox").find(".seaarea").hide();
                }
            })

            $(".arealist a").hover(function () {
                var index = $(this).index(),
                    name = $(this).html(),
                    obj = $(this).parents(".seaarea");
                $(this).addClass("active").siblings().removeClass("active");
                obj.find(".houseestate").eq(index).addClass("active").siblings().removeClass("active");
            })
        },
        //计数器
        numberCount:function () {
            $.fn.countTo = function(a) {
                a = a || {};
                return $(this).each(function() {
                    var c = $.extend({},
                        $.fn.countTo.defaults, {
                            from: $(this).data("from"),
                            to: $(this).data("to"),
                            speed: $(this).data("speed"),
                            refreshInterval: $(this).data("refresh-interval"),
                            decimals: $(this).data("decimals")
                        }, a);
                    var h = Math.ceil(c.speed / c.refreshInterval),
                        i = (c.to - c.from) / h;
                    var j = this,
                        f = $(this),
                        e = 0,
                        g = c.from,
                        d = f.data("countTo") || {};
                    f.data("countTo", d);
                    if (d.interval) {
                        clearInterval(d.interval)
                    }
                    d.interval = setInterval(k, c.refreshInterval);
                    b(g);
                    function k() {
                        g += i;
                        e++;
                        b(g);
                        if (typeof(c.onUpdate) == "function") {
                            c.onUpdate.call(j, g)
                        }
                        if (e >= h) {
                            f.removeData("countTo");
                            clearInterval(d.interval);
                            g = c.to;
                            if (typeof(c.onComplete) == "function") {
                                c.onComplete.call(j, g)
                            }
                        }
                    }
                    function b(m) {
                        var l = c.formatter.call(j, m, c);
                        f.html(l)
                    }
                })
            };
            $.fn.countTo.defaults = {
                from: 0,
                to: 0,
                speed: 1000,
                refreshInterval: 100,
                decimals: 0,
                formatter: formatter,
                onUpdate: null,
                onComplete: null
            };
            function formatter(b, a) {
                return b
            }
            $("#count-number").data("countToOptions", {
                formatter: function(b, a) {
                    return b
                }
            });
            $(".timer").each(count);
            function count(a) {
                var b = $(this);
                a = $.extend({},
                    a || {},
                    b.data("countToOptions") || {});
                b.countTo(a)
            };
        },
        linkTo:function (){
            $(".nav li").on("click",function(){
                var index = $(this).index();
                var top = $(".linkbox").eq(index).offset().top - 60;
                $(this).addClass("active").siblings().removeClass("active");
                $("html,body").animate({scrollTop:top},1000)
            })

            $(window).scroll(function () {
                var srTop = $(window).scrollTop(),
                    box0top =  parseInt($(".linkbox").eq(0).offset().top),
                    box1top =  parseInt($(".linkbox").eq(1).offset().top),
                    box2top =  parseInt($(".linkbox").eq(2).offset().top),
                    box3top =  parseInt($(".linkbox").eq(3).offset().top),
                    box4top =  parseInt($(".linkbox").eq(4).offset().top);
                if(srTop < box0top +300) {
                    $(".nav li").removeClass("active").eq(0).addClass("active");
                }else if(srTop > box0top +300 && srTop < box1top+500){
                    $(".nav li").removeClass("active").eq(1).addClass("active");
                }else if(box1top +500 && srTop < box2top+400){
                    $(".nav li").removeClass("active").eq(2).addClass("active");
                }else if(srTop > box2top+400 && srTop < box3top+260){
                    $(".nav li").removeClass("active").eq(3).addClass("active");
                }else if(srTop > box3top +260){
                    $(".nav li").removeClass("active").eq(4).addClass("active");
                }
            })
        }
    };

    $(function(){
        housePirce.init();
    })

</script>
</body>
</html>
