<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>契约精神声明</title>
<link rel="stylesheet" href="../css/state.css">
</head>
<body>
   <div class="top"><img src="../image/icon_stateback2.jpg" alt=""></div>
   <div class="middle middle1">
       <h2 class="title">契约精神声明</h2>
       <div class="content">
           <div class="topcon">
               <p class="title1">象盒找房作为中国房地产经纪市场上的智慧找房平台，遵循法纪法规，积极响应和配合政府部门政策的执行和落地，切实履行房地产经纪机构的职责与义务，坚决拥护支持政府打击违法违规行为！</p>
               <p class="title2">为进一步维护房地产市场秩序，促进房地产市场的健康稳定发展，象盒找房郑重承诺：</p>
           </div>
           <div class="bottomcon">
               <div class="box">
                   <h2 class="name">一、规范承接经纪业务</h2>
                   <p class="btxt">不为不符合交易条件的保障性住房和禁止交易的房屋提供经纪服务及发布房源。</p>
               </div>
               <div class="box">
                   <h2 class="name">二、发布真实房源信息</h2>
                   <p class="btxt">对外发布的房源信息真实，全面，准确，真实存在，真实价格，真无重复，真实信息。对外发布的房源信息具有业主委托书或预售许可证，不发布未经核验的房源信息，不隐瞒抵押，查封等影响房屋交易的信息，相关信息如实告知购房人。</p>
               </div>
               <div class="box">
                   <h2 class="name">三、严格执行明码标价</h2>
                   <p class="btxt">对接受委托出售，出租的房源明码标价，在分支机构（经纪门店）醒目的位置公示服务项目和相应的收费标准;不强制提供代办服务，捆绑收费，不收取任何未予标明，未提前告知的费用。</p>
               </div>
               <div class="box">
                   <h2 class="name">四、严格执行调控政策</h2>
                   <p class="btxt">不捏造、发布、传播不实信息，不制造恐慌气氛，不错误解读调控政策;合法合规给有购房资格的购房者提供服务，坚决不从事伪造证明等非法手段协助交易当事人骗取购房资格，规避限购政策。</p>
               </div>
               <div class="box">
                   <h2 class="name">五、规范提供金融服务</h2>
                   <p class="btxt">不从事、不参与、不协助开展任何违法违规的金融业务，如发现违规行为，及时向有关部门举报。</p>
               </div>
               <div class="box">
                   <h2 class="name">六、不泄露客户信息</h2>
                   <p class="btxt">保守客户个人隐私和商业秘密，在未征得客户许可情况下，不以电话，短信等形式骚扰客户。</p>
               </div>
               <div class="box">
                   <h2 class="name">七、切实保证交易安全</h2>
                   <p class="btxt">不低进高出赚取差价，不非法侵占或者挪用客户交易资金，坚持乐有家六诺六保，五不三真。</p>
               </div>
           </div>
       </div>
   </div>
</body>
</html>
