<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>真房源声明</title>
    <link rel="stylesheet" href="../css/state.css">
</head>
<body>
<div class="top"><img src="../image/icon_stateback1.jpg" alt=""></div>
<div class="middle">
    <h2 class="title">真房源声明</h2>
    <div class="content">
        <p class="sub">象盒找房承诺，凡经纪人通过象盒找房发布的房源均为真实可售、真实存在、真实委托、真实价格、真实信息。</p>
        <div class="listbox">
            <ul>
                <li><img src="../image/icon_state1.png" alt=""><p class="txt">须为法律法规允许交易的房产，不得为不符合交易条件的保障性住房和禁止交易的房产。</p></li>
                <li><img src="../image/icon_state2.png" alt=""><p class="txt">房源为真实存在，不是虚构或虚拟存在。</p></li>
                <li><img src="../image/icon_state3.png" alt=""><p class="txt">业主真实委托出售/出租。</p></li>
                <li><img src="../image/icon_state4.png" alt=""><p class="txt">是业主委托公布或当前明确表示同意发布的价格，以业主委托书价格为准。</p></li>
                <li><img src="../image/icon_state5.png" alt=""><p class="txt">房屋区位、用途、结构、户型、照片/视频真实，面积差异不超过±3%。</p></li>
            </ul>
            <p class="state">象盒找房及使用平台服务的经纪人及新环境、新门户等战略合作经纪公司愿接受用户的监督与举报，若被举报房源经核实不符合以上承诺内容，则向举报人予以100元人民币赔付。</p>
        </div>
    </div>
</div>
</body>
</html>
