.pager {
    padding-top: 30px;
}

.pager {
    background-color: #fff;
    text-align: center;
    padding-bottom: 25px;
    width: 100%;
}

.pager > a.active {
    color: #fff;
    background-color: #2badd7;
}

.pager > a, .fenye > span {
    margin-right: 10px;
}

.pager > a {
    color: #666;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}